<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/8570f740-5705-40fb-8380-0a7b83f1c7ed/resourceGroups/playground/providers/Microsoft.ContainerRegistry/registries/testorleansregistory</ResourceId>
    <ResourceName>testorleansregistory</ResourceName>
    <ResourceGroup>playground</ResourceGroup>
    <Subscription>Dynamic Elements PAYG Dev/Test</Subscription>
    <RegistryUrl>testorleansregistory.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>